DreamsTech3/cmake-build-debug/.cmake/api/v1/query/cache-v2
DreamsTech3/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
DreamsTech3/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
DreamsTech3/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
